@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GreatVibes';
  src: local('GreatVibes'), url(./assets/fonts/GreatVibes.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html,
body,
#root {
  height: 100%;
  background-color: #000000;
}

.reactEasyCrop_CropArea {
  color: rgba(0, 0, 0, 0.8) !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
}

#header-shape-gradient {
  --color-stop: #9350ff;
  --color-bot: #0787ff;
}

.gradient-bg {
  fill: url(#header-shape-gradient) #fff;
}
